celery==5.3.6
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
kombu==5.3.4
python-dateutil==2.8.2
tzdata==2023.3
vine==5.1.0
Django==5.0
asgiref==3.7.2
sqlparse==0.4.4
django-background-tasks==1.2.5
django-compat==1.0.15
fuzz  
pip==23.3.1
pipdeptree==2.13.2
redis==5.0.1
async-timeout==4.0.3
requests==2.31.0
certifi==2023.11.17
celery==5.3.6
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
kombu==5.3.4
python-dateutil==2.8.2
tzdata==2023.3
vine==5.1.0
Django==4.2.9
asgiref==3.7.2
sqlparse==0.4.4
django-background-tasks==1.2.5
django-compat==1.0.15
fuzzywuzzy==0.18.0
redis==5.0.1
async-timeout==4.0.3
requests==2.31.0
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
urllib3==2.1.0
setuptools==69.0.2
wheel==0.42.0
google-api-core==2.15.0
google-api-python-client==2.111.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
schedule==1.2.1
cryptography==3.4.8
dj-database-url==1.2.0
gunicorn==20.1.0
psycopg2==2.9.5

