
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">

   <title>FMP</title>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   {% load static %}

   <link rel="icon" href="{% static 'assets/logo.svg' %}" type="image/x-icon">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

   <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

   <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">

  <script>
  window.console = window.console || function(t) {};
  </script>

</head>

<body translate="no">

<div class="video-bg">
<video width="320" height="240" autoplay loop muted>
<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
     <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
   </div>
<div class="app">
 <div class="header">
  <div class="menu-circle"></div>
  <div class="search-bar">
   <input id="search_box" type="text" placeholder="Search">
  </div>

  <div class="header-profile">

    <div class="User-area">
    <div class="User-avtar">
    <img style="zoom:150%;"  src="{% static 'assets/pp.png' %}"/>
    </div>
        <ul class="User-Dropdown">
        <li><a onclick="Settings()">Settings</a></li>
        <li><a href="/logout" style="color: red;">Logout</a></li>
        </ul>
    </div>
   
  </div>

 </div>
 <div class="wrapper">
  <div class="left-side">
   <div class="side-wrapper">
    <div class="side-title">Menu</div>
    <div class="side-menu">

    <a id="main_link_2" href="#">
    Desktop
    </a>
    <a id="cloud_link_2" href="#">
    My cloud
    </a>
    <a id="uploader_link_2" href="#">
    Upload
    </a>

    </div>
   </div>
  </div>

  <div class="pop-up setting-panel">
    <div class="pop-up__title" style="color: var(--theme-color); margin-bottom: 30px;">
        <span id="Title">Settings</span>
        <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M15 9l-6 6M9 9l6 6"></path>
        </svg>
    </div>
    <div class="pop-up__subtitle" id="ads">
        <div id="tmp_ad">
            <label for="input_username" style="color: var(--theme-color);">Username:</label>
            <input placeholder="{{username}}" id="input_username" style="margin: auto; display: block; margin-bottom: 40px;" type="text">
            <label for="change_pswd_btn" style="color: var(--theme-color);">Change password:</label>
            <br>
            <button class="content-button" id="change_pswd_btn" style="margin: auto; display: block; margin-top: 10px;"><a href="/back_up?mail={{mail}}">Change password</a></button>
        </div>
    </div>
    <div class="content-button-wrapper">
        <button class="content-button status-button open close">Cancel</button>
        <button class="content-button" onclick="Change_Username()">Save</button>
    </div>
    </div>

  <div class="main-container">
   <div class="main-header">
    <a class="menu-link-main" href="#">Menu</a>
    <div class="header-menu">
     <a id="main_link" class="main-header-link is-active" href="#">Desktop</a>
     <a id="cloud_link" class="main-header-link" href="#">My cloud</a>
     <a id="uploader_link" class="main-header-link" href="#">Upload</a>
    </div>
   </div>
   <div class="content-wrapper">
    <div class="content-wrapper-header">
     <div class="content-wrapper-context">
      <h3 class="img-content">
      <img src="{% static 'assets/discord.png' %}" style="height: 30px; margin-right: 10px;" alt="">
       Discord
      </h3>
      <div class="content-text">🌟 Join FMP Discord to connect with med students nationwide! Share insights, learn, and build a supportive medical community! 🚀</div>
      <button class="content-button"><a href="https://discord.gg/mrskUNNtkV" style="text-decoration: none; color: white;">join us</a></button>
     </div>
     <img class="content-wrapper-img" src="https://assets.codepen.io/3364143/glass.png" alt="">
    </div>

    <div class="content-section main" id="File_explorer">

    <div class="pop-up">
    <div class="pop-up__title">
        <span id="Title"></span>
        <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M15 9l-6 6M9 9l6 6"></path>
        </svg>
    </div>
    <div class="pop-up__subtitle" id="ads">
        <div id="tmp_ad"><img style="height: 300px; margin-left: auto; margin-right: auto; display: block;" src="{% static 'assets/student.png' %}" /></div>
    </div>
    <div class="checkbox-wrapper" id="category_tag">
            Tags
    </div>
    <div class="content-button-wrapper">
        <button class="content-button status-button open close">Cancel</button>
        <a target="_blank" href="" id="downoald_link"><button class="content-button status-button">Downoald</button></a>
    </div>
    </div>

     <div class="content-section-title" id="main-index">File Explorer</div>
     <div class="content-section-title" id="second-index" onclick="Main_Back_1()" style="display: none;">Back</div>
     <div class="content-section-title" id="third-index" onclick="Main_Back_2()" style="display: none;">Back</div>
     <div class="content-section-title" id="fourth-index" onclick="Main_Back_3()" style="display: none;">Back</div>
     <div class="content-section-title" id="fifth-index" onclick="Main_Back_4()" style="display: none;">Back</div>

     <ul id="item-list">
 
      <li class="adobe-product">

       <div class="products">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18" style="color: #3a6df0">
            <path d="M18 5H0v11a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5Zm-7.258-2L9.092.8a2.009 2.009 0 0 0-1.6-.8H2.049a2 2 0 0 0-2 2v1h10.693Z"/>
        </svg>
        1st year 
       </div>

       <div class="button-wrapper">
        <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSessions('1')">open</button>
       </div>

      </li>

      <li class="adobe-product">

        <div class="products">
         <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18" style="color: #3a6df0">
             <path d="M18 5H0v11a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5Zm-7.258-2L9.092.8a2.009 2.009 0 0 0-1.6-.8H2.049a2 2 0 0 0-2 2v1h10.693Z"/>
         </svg>
         2nd year 
        </div>
 
        <div class="button-wrapper">
         <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSessions('2')">open</button>
        </div>
 
       </li>

       <li class="adobe-product">

        <div class="products">
         <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18" style="color: #3a6df0">
             <path d="M18 5H0v11a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5Zm-7.258-2L9.092.8a2.009 2.009 0 0 0-1.6-.8H2.049a2 2 0 0 0-2 2v1h10.693Z"/>
         </svg>
         3rd year 
        </div>
 
        <div class="button-wrapper">
          <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSessions('3')">open</button>
        </div>
 
       </li>

     </ul>

     <div class="pagination" id="pagination"></div>

     <ul id="item-list-2" style="display: none;"> </ul>

     <ul id="item-list-3" style="display: none;"> </ul>

     <div class="pagination" id="pagination-2" style="display: none;"></div>

     <ul id="item-list-4" style="display: none;"> </ul>

     <div class="pagination" id="pagination-3" style="display: none;"></div>

     <ul id="item-list-5" style="display: none;"> </ul>

     <div class="pagination" id="pagination-4" style="display: none;"></div>

    </div>

    <div class="content-section search_page" id="Search_page" style="display: none;">

    <div class="pop-up">
    <div class="pop-up__title">
        <span id="Title_2"></span>
        <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M15 9l-6 6M9 9l6 6"></path>
        </svg>
    </div>
    <div class="pop-up__subtitle" id="ads">
        <div id="tmp_ad"><img style="height: 300px; margin-left: auto; margin-right: auto; display: block;" src="{% static 'assets/student.png' %}" /></div>
    </div>
    <div class="checkbox-wrapper" id="category_tag_2">
            Tags
    </div>
    <div class="content-button-wrapper">
        <button class="content-button status-button open close">Cancel</button>
        <a target="_blank" href="" id="downoald_link_2"><button class="content-button status-button">Downoald</button></a>
    </div>
    </div>

    <div class="content-section-title" id="search-index" onclick="Main_Back_5()">Back</div>

    <ul id="item-list-6"> </ul>

    <div class="pagination" id="pagination-5"></div>

    </div>

    <div  class="content-section main">
     <div class="content-section-title">QCM</div>
     <span style="text-align: center; color: grey;">Not available yet</span>
    </div>

       <div class="content-section" id="Mycloud" style="display: none;">

        <div class="content-section-title">My uploads</div>
        
        <div class="apps-card">

        <div class="pop-up">
        <div class="pop-up__title">
            <span id="Title"></span>
            <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M15 9l-6 6M9 9l6 6"></path>
            </svg>
        </div>
        <div class="pop-up__subtitle" id="ads">
            <div id="tmp_ad"><img style="height: 300px; margin-left: auto; margin-right: auto; display: block;" src="{% static 'assets/student.png' %}" /></div>
        </div>
        <div class="checkbox-wrapper" id="category_tag">
              Tags
        </div>
        <div class="content-button-wrapper">
            <button class="content-button status-button open close">Cancel</button>
            <a target="_blank" href="" id="downoald_link"><button class="content-button status-button">Downoald</button></a>
        </div>
        </div>

        {% for My_File_Data in User_File_Data_Tmp %}
        <div class="app-card" id="{{ My_File_Data.0 }}" style="margin-bottom: 20px;">

            <span id="file_name_{{ My_File_Data.0 }}">{{ My_File_Data.2 }}</span>

            <div class="app-card__subtext">
                <div style="background-color: transparent; padding: 5px; border-radius: 20px;  display: inline-block; border: solid; border-color: black; border-width: 1px;">
                    <span style="text-align: center; opacity: 1;">{{ My_File_Data.3 }}</span>
                </div>
            </div>

            <div class="app-card-buttons">

                <button class="content-button status-button" onclick="load_file('{{ My_File_Data.2 }}','{{ My_File_Data.3 }}','{{ My_File_Data.1 }}')">open</button>

                <div class="menu">
                <button class="dropdown">
                    <ul>
                    <li><a href="#" onclick="alert('if your milkshake isn\'t shaking, please raise the issue, and let\'s enhance your experience  🥤✨!'); prompt('Enter your feedback:'); alert('Sip joy, {{username}}! Cheers to sweet moments and creamy days! 🥤🌈');">Report</a></li>
                    <li><a href="#" onclick="Edit_file({{My_File_Data.0}})">Edit</a></li>
                    <li><a href="#" style="color: red;" onclick="Delete_file({{My_File_Data.0}})">Delete</a></li>
                    </ul>
                </button>
                </div>

            </div>

        </div>
        {% endfor %}

        </div>

       </div>

    <div id="uploader" style="display: none;" class="content-section">
      
      <div class="content-section-title" id="navigator0">Select options :</div>
      <div class="content-section-title" id="navigator1" onclick="back1()" style="display: none;">Back</div>
      <div class="content-section-title" id="navigator2" onclick="back2()" style="display: none;">Back</div>
      <div class="content-section-title" id="navigator3" onclick="back3()" style="display: none;">Back</div>

      <div class="apps-card semesters">

        {% if year == '1' %}

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 1</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S1')">open</button>
                </div>
            </div>  

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 2</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S2')">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Other</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('0')">open</button>
                </div>
            </div>

        {% elif year == '2' %}

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S3')">Semester 3</span>  </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S3')">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S4')">Semester 4</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Other</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('0')">open</button>
                </div>
            </div>

            {% elif year == '3' %}

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 5</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S5')">open</button>
                    <div class="menu"></div>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 6</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S6')">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Other</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('0')">open</button>
                </div>
            </div>

            {% elif year == '4' %}

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 7</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S7')">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 8</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S8')">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Other</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('0')">open</button>
                </div>
            </div>

            {% elif year == '5' %}

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 9</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S9')">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 10</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S10')">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Other</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('0')">open</button>
                </div>
            </div>

            {% elif year == '6' %}

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 11</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S11')">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Semester 12</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('S12')">open</button>
                </div>
            </div>

            <div class="app-card" style="margin-bottom: 20px;">
                <div class="app-card__subtext"> <span style="zoom:120%;">Other</span> </div>
                <div class="app-card-buttons">
                    <button class="content-button status-button open" style="opacity:1; border: none; background-color: #3a6df0; color: white;" onclick="LoadSubjects('0')">open</button>
                </div>
            </div>

        {% endif %}

      </div>

      <div class="apps-card" id="subjects" style="display: none;"></div>

      <div class="apps-card" id="courses" style="display: none;"></div>

        <div id="uploader_form" class="app-card" style="display:none;">
          <h3>Upload Files</h3>
          <div class="drop_box">

            <form method="post" enctype="multipart/form-data">
                <div class="form">
                <h4 style="color:white;">Name your file</h4>
                <div>
                <input id="input_title" type="text" placeholder="eg:(Anatomy notes thorax)" maxlength = "25">
                </div>
                <button type="button" id="submit_btn_upload" class="content-button btn">next</button>
                </div>
            </form>

          </div>
        </div>

        <p><div class="pulse" id="loader" style="display: none; margin-top: 10%;"></div></p>

     </div>

   </div>
  </div>
 </div>
 <div class="overlay-app"></div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>